# Find duplicate vendor numbers

Vendor numbers in the SD data are not unique, but they typically point to the same entity with some variation (a typo, a more specific name, etc.).

In [1]:
import pandas as pd
from fetch_latest_data import csv_read_settings

In [2]:
df = pd.read_csv('sd-vendor-checkbook.csv', **csv_read_settings)

In [3]:
df.head()

,agency,document_date,document_number,vendor_name,vendor_number,vendor_group_number,ap_payment_date,voucher_number,amt
0,010,2022-07-05,01307002,GRANT COUNTY REVIEW INC,12403860,NaN,2022-07-08,001134,48.00
1,010,2022-07-05,111,BLACK HILLS LODGING LLC,12620107,NaN,2022-07-08,001138,75.00
2,010,2022-07-05,48646,SD HERITAGE STORE,STATE,83,2022-07-08,001131,308.40
3,010,2022-07-05,IN3835168,INNOVATIVE OFFICE SOLUTIONS,12550348,NaN,2022-07-08,001130,15.07
4,010,2022-07-05,IN3843549,INNOVATIVE OFFICE SOLUTIONS,12550348,NaN,2022-07-08,001142,26.24

In [4]:
len(df)

620431

In [5]:
unique_combos = df[['vendor_number', 'vendor_name']].drop_duplicates()

In [6]:
len(unique_combos)

29091

In [7]:
# wild https://stackoverflow.com/a/48628442
v = unique_combos['vendor_number'].value_counts()
vendor_number_duplicates = unique_combos[unique_combos['vendor_number'].isin(v.index[v.gt(1)])].sort_values('vendor_number')

In [8]:
len(vendor_number_duplicates)

5654

In [9]:
vendor_number_duplicates.head()

       vendor_number                  vendor_name
374427      12001967              VNDR   12001967
366607      12001967                     TEDS INC
372139      12002177              VNDR   12002177
154183      12002177  DAKOTA FIXTURE & CABINET CO
65091       12002203            LOW VISION CENTER

In [10]:
vendor_number_duplicates['vendor_number'].nunique()

2439